<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to JU</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" />
</head>

<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg">
      <img src="ja.png" alt="" />
      <div id="university-name">
        <strong id="jadavpur"> Jadavpur University</strong>
        <br />
        <i id="tagline">Prep Smart, Score better</i>
      </div>
    
      <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="mdi mdi-menu navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="ja.png" alt="" />
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="/" role="button" aria-pressed="true">Home</a>
            <span class="sr-only">(current)</span>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="#" role="button" aria-pressed="true">Campus</a>
          </li>
          &nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="http://www.jaduniv.edu.in/" role="button" aria-pressed="true">Site</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->
    <div class="container">
        <div class="d-flex flex-column">
          <div class="space-2"></div>
        
          <h2 class="my-4 mx-auto">About us!</h2>
          <div class="space-2"></div>
          <div class="justify-content-center card-deck">
            <div class="mx-msm-auto card" style="max-width: 250px;">
              <img class="card-img-top" src="images/dev/rk.jpeg" style="height: 200px; object-fit: cover;" />
              <div class="card-body">
                <div class="card-title h5">Ramit Kundu</div>
                <div class="text-muted card-subtitle h6">
                  <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
                </div>
              </div>
              <div class="d-flex justify-content-end card-footer">
                <a href="https://github.com/kakolipal528" target="_blank" rel="noopener noreferrer"><svg stroke="currentColor"
                    fill="currentColor" stroke-width="0" viewBox="0 0 496 512" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg" style="color: black; font-size: 1.25em; margin: 8px;">
                    <path
                      d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z">
                    </path>
                  </svg></a>
                <a href="https://www.linkedin.com/in/ramit-kundu-b3b91014a/" target="_blank " rel="noopener noreferrer "><svg
                    stroke="currentColor " fill="currentColor " stroke-width="0 " viewBox="0 0 448 512 " height="1em "
                    width="1em " xmlns="http://www.w3.org/2000/svg "
                    style=" color: rgb(72, 117, 180); font-size: 1.25em; margin: 8px; ">
                    <path
                      d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5
                                            38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z ">
                    </path>
                  </svg></a>
        
                <a href="https://www.facebook.com/ramit.kundu.12" target="_blank" rel="noopener noreferrer"><svg
                    stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg" style="color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px;">
                    <path
                      d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z">
                    </path>
                  </svg></a>
              </div>
            </div>
        
            <div class="mx-msm-auto card" style="max-width: 250px;">
              <img class="card-img-top" src=images/dev/nsr.jpeg " style=" height: 200px; object-fit: cover; ">
                  <div class=" card-body ">
                    <div class=" card-title h5 ">Nishant Raj</div>
                    <div class=" text-muted card-subtitle h6 ">
                      <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
                    </div>
                  </div>
                  <div class=" d-flex justify-content-end card-footer ">
                    <a
                      href=" https://github.com/nish-976 "
                      target=" _blank "
                      rel=" noopener noreferrer "
                      ><svg
                        stroke=" currentColor "
                        fill=" currentColor "
                        stroke-width=" 0 "
                        viewBox=" 0 0 496 512 "
                        height=" 1em "
                        width=" 1em "
                        xmlns=" http://www.w3.org/2000/svg "
                        style=" color: black; font-size: 1.25em; margin: 8px; "
                      >
                        <path
                          d=" M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6
                3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2
                2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8
                8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70
                15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9
                2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9
                20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9
                16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5
                4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6
                1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7
                4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1
                1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3
                1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z "
                        ></path></svg></a
                    ><a
                      href=" https://www.linkedin.com/in/nishant-raj-1776b0165/ "
                      target=" _blank "
                      rel=" noopener noreferrer "
                      ><svg
                        stroke=" currentColor "
                        fill=" currentColor "
                        stroke-width=" 0 "
                        viewBox=" 0 0 448 512 "
                        height=" 1em "
                        width=" 1em "
                        xmlns=" http://www.w3.org/2000/svg "
                        style=" color: rgb(72, 117, 180); font-size: 1.25em; margin: 8px; "
                      >
                        <path
                          d=" M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5
                32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9
                96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1
                243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5
                62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z "
                        ></path></svg></a
                    ><a
                      href=" https://www.facebook.com/nishant.singhraj.1 "
                      target=" _blank "
                      rel=" noopener noreferrer "
                      ><svg
                        stroke=" currentColor "
                        fill=" currentColor "
                        stroke-width=" 0 "
                        viewBox=" 0 0 448 512 "
                        height=" 1em "
                        width=" 1em "
                        xmlns=" http://www.w3.org/2000/svg "
                        style=" color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px; "
                      >
                        <path
                          d=" M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9
                33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0
                468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z "
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class=" mx-msm-auto card " style=" max-width: 250px; ">
                  <img
                    class=" card-img-top "
                    src=" images/dev/gaurav.jpeg "
                    style=" height: 200px; object-fit: cover; "
                  />
                  <div class=" card-body ">
                    <div class=" card-title h5 ">Gaurav Kumar</div>
                    <div class=" text-muted card-subtitle h6 ">
                      <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
                    </div>
                  </div>
                  <div class=" d-flex justify-content-end card-footer ">
        
                    <a href=" https://github.com/Gaurav1236" target="_blank " rel="noopener noreferrer "><svg
                stroke="currentColor " fill="currentColor " stroke-width="0 " viewBox="0 0 496 512 " height="1em " width="1em "
                xmlns="http://www.w3.org/2000/svg " style="color: black; font-size: 1.25em; margin: 8px; ">
                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9
                            3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4
                            0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6
                            69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3
                            1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6
                            1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z "></path>
              </svg></a>
        
        
              <a href="https://www.linkedin.com/in/gaurav-kumar-l625u/" target="_blank " rel="noopener noreferrer "><svg
                  stroke="currentColor " fill="currentColor " stroke-width="0 " viewBox="0 0 448 512 " height="1em "
                  width="1em " xmlns="http://www.w3.org/2000/svg "
                  style=" color: rgb(72, 117, 180); font-size: 1.25em; margin: 8px; ">
                  <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5
                            38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z ">
                  </path>
                </svg></a>
        
        
              <a href="https://www.facebook.com/profile.php?id=100003582936926" target="_blank " rel="noopener noreferrer "><svg
                  stroke="currentColor " fill="currentColor " stroke-width="0 " viewBox="0 0 448 512 " height="1em "
                  width="1em " xmlns="http://www.w3.org/2000/svg "
                  style="color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px; ">
                  <path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1
                            11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z "></path>
                </svg></a>
            </div>
          </div>
        </div>
        </div>
    </div>
    
    <div class="space "></div>

    <div class="container">
        <div class="d-flex flex-column ">
          <div class="justify-content-center card-deck ">
            <div class="mx-msm-auto card " style="max-width: 250px; ">
              <img class="card-img-top " src="images/dev/pb.jpeg " style="height: 200px; object-fit: cover; " />
              <div class="card-body ">
                <div class="card-title h5 ">Preeti Bala</div>
                <div class="text-muted card-subtitle h6 ">
                  <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
                </div>
              </div>
              <div class="d-flex justify-content-end card-footer ">
                <a href="https://www.linkedin.com/in/preeti-bala-88a0581a7/" target=" _blank " rel=" noopener noreferrer "><svg
                    stroke=" currentColor " fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 448 512 " height=" 1em "
                    width=" 1em " xmlns=" http://www.w3.org/2000/svg " style="
                          color: rgb(72, 117, 180);
                          font-size: 1.25em;
                          margin: 8px;
                        ">
                    <path d=" M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5
                            32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3
                            0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1
                            243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8
                            30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z "></path>
                  </svg></a>
                <a href="https://www.facebook.com/preeti.bala.395017" target="_blank " rel="noopener noreferrer "><svg
                    stroke="currentColor " fill="currentColor " stroke-width="0 " viewBox="0 0 448 512 " height="1em "
                    width="1em " xmlns="http://www.w3.org/2000/svg "
                    style="color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px; ">
                    <path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1
                            11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z "></path>
                  </svg></a>
              </div>
            </div>
            <div class="mx-msm-auto card " style="max-width: 250px; ">
              <img class="card-img-top " src=images/dev/ra.jpeg " style=" height: 200px; object-fit: cover; ">
                        <div class=" card-body">
              <div class="card-title h5">Ruved Aalam</div>
              <div class="text-muted card-subtitle h6">
                <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
              </div>
            </div>
            <div class="d-flex justify-content-end card-footer">
              <a href="https://github.com/ruved/" target=" _blank " rel=" noopener noreferrer "><svg stroke=" currentColor "
                  fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 496 512 " height=" 1em " width=" 1em "
                  xmlns=" http://www.w3.org/2000/svg " style="color: black; font-size: 1.25em; margin: 8px;">
                  <path d=" M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6
                            3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2
                            2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6
                            4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3
                            17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7
                            1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1
                            16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69
                            27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16
                            17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0
                            6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1
                            3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3
                            3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3
                            5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3
                            3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z "></path>
                </svg></a>
              <a href="https://www.linkedin.com/in/ruved-aalam-a5992213b/" target=" _blank " rel=" noopener noreferrer "><svg
                  stroke=" currentColor " fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 448 512 " height=" 1em "
                  width=" 1em " xmlns=" http://www.w3.org/2000/svg " style="
                          color: rgb(72, 117, 180);
                          font-size: 1.25em;
                          margin: 8px;
                        ">
                  <path d=" M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5
                            32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3
                            0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1
                            243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8
                            30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z "></path>
                </svg></a><a href="https://www.facebook.com/ruved.aalam" target=" _blank " rel=" noopener noreferrer "><svg
                  stroke=" currentColor " fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 448 512 " height=" 1em "
                  width=" 1em " xmlns=" http://www.w3.org/2000/svg "
                  style="color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px;">
                  <path d=" M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9
                            33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1
                            480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z "></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="mx-msm-auto card" style="max-width: 250px;">
            <img class="card-img-top" src=" images/dev/bks.jpeg " style="height: 200px; object-fit: cover;" />
            <div class="card-body">
              <div class="card-title h5">Beauty Kumari Shaw</div>
              <div class="text-muted card-subtitle h6">
                <span>Jadavpur University, IT, 3<sup>rd</sup> year</span>
              </div>
            </div>
            <div class="d-flex justify-content-end card-footer">
              <a href="https://www.linkedin.com/in/beauty-shaw-72b0981a7" target=" _blank " rel=" noopener noreferrer "><svg
                  stroke=" currentColor " fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 448 512 " height=" 1em "
                  width=" 1em " xmlns=" http://www.w3.org/2000/svg " style="
                                color: rgb(72, 117, 180);
                                font-size: 1.25em;
                                margin: 8px;
                              ">
                  <path d=" M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5
                                  32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3
                                  0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1
                                  243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8
                                  30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z "></path>
                </svg></a>
              <a href="https://www.facebook.com/beauty.shaw.77" target=" _blank " rel=" noopener noreferrer "><svg
                  stroke=" currentColor " fill=" currentColor " stroke-width=" 0 " viewBox=" 0 0 448 512 " height=" 1em "
                  width=" 1em " xmlns=" http://www.w3.org/2000/svg "
                  style="color: rgb(59, 89, 152); font-size: 1.25em; margin: 8px;">
                  <path d=" M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9
                            33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1
                            480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z "></path>
                </svg></a>
            </div>
          </div>
        </div>
        </div>
    </div>
    
    <div class="border"></div>

    <div class="container">
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="ja.png" alt="" class="pb-2" />
            <div class="pt-2">
              <p class="text-muted m-0">vc@admin.jdvu.ac.in</p>
              <p class="text-muted m-0">033 2457 2227</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">
              Don’t miss any updates of our new courses!
            </p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id" />
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="#">
              <p class="m-0 pb-2">Terms</p>
            </a>
            <a href="#">
              <p class="m-0 pt-1 pb-2">Privacy policy</p>
            </a>
            <a href="#">
              <p class="m-0 pt-1 pb-2">Cookie Policy</p>
            </a>
            <a href="#">
              <p class="m-0 pt-1">Discover</p>
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our address</h5>
            <p class="text-muted">
              B-73-80, Plot No.8, Salt Lake Bypass, LB Block, Sector III,
              <br />
              <br />Bidhannagar, Kolkata, West Bengal 700098
            </p>
            <div class="d-flex justify-content-center justify-content-md-start">
              <a href="#"><span class="mdi mdi-facebook"></span></a>
              <a href="#"><span class="mdi mdi-twitter"></span></a>
              <a href="#"><span class="mdi mdi-instagram"></span></a>
              <a href="#"><span class="mdi mdi-linkedin"></span></a>
            </div>
          </div>
        </div>
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">
          Copyright © 2020<a href="#" class="px-1">Jadavpur-University</a>All rights reserved.
        </p>
      </footer>
    </div>
    
    <link rel="stylesheet " href="/stylesheets/about.css " />
</body>

</html>
