<!DOCTYPE html>
<html>
<body>

<h2>Add a Comment</h2>

<form action="/commentsec" method="POST">
  <label for="fname">Name:</label><br>
  <input type="text"  name="fname" ><br>
  <label for="lname">Comment:</label><br>
  <textarea id="w3mission" name = "cmnt" rows="4" cols="50" >
  </textarea>
  <input type="submit" value="Submit">
</form> 




<div id = "a1"></div>

</body>
<script src="js/comment.js"></script>
</html>