.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4.3rem;
}

#col-sm {
    margin: 0.3rem;
    padding: 0.3rem;
}

#footer {
    margin-top: 5.2rem;
}

.space {
    margin-top: 6rem;
}

.space-2 {
    margin-top: 1rem;
}