@media (min-width: 576px) {
    .child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        flex: 1;
    }
    .middle {
        margin: 5% 20% 0 20%;
    }
    .msgbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dang {
        background-color: #ef5350;
    }
    #warn {
        background-color: #fdd835;
    }
    #blu {
        background-color: #29b6f6;
    }
}

@media (min-width: 768px) {
    .child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        flex: 1;
    }
    .middle {
        margin: 5% 20% 0 20%;
    }
    .msgbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dang {
        background-color: #ef5350;
    }
    #warn {
        background-color: #fdd835;
    }
    #blu {
        background-color: #29b6f6;
    }
}

@media (min-width: 992px) {
    .child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        flex: 1;
    }
    .middle {
        margin: 5% 20% 0 20%;
    }
    .msgbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dang {
        background-color: #ef5350;
    }
    #warn {
        background-color: #fdd835;
    }
    #blu {
        background-color: #29b6f6;
    }
}

@media (min-width: 1200px) {
    .child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        flex: 1;
    }
    .middle {
        margin: 5% 20% 0 20%;
    }
    .msgbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dang {
        background-color: #ef5350;
    }
    #warn {
        background-color: #fdd835;
    }
    #blu {
        background-color: #29b6f6;
    }
}