.contain {
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
    max-width: 100%;
    height: auto;
    max-height: 310px;
}

.contents {
    margin: 100px 300px 0 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#dang {
    background-color: #ef5350;
}

#warn {
    background-color: #fdd835;
}

#blu {
    background-color: #29b6f6;
}