.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-group {
    margin-top: 10px;
}

.parent-list {
    margin: 0 100px 0 100px;
}

#footer-section {
    margin-top: 100px;
}

.border {
    margin-top: 10px;
    border-style: dotted;
}

a.list-group-item:hover {
    background: aqua;
}