.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child {
    flex: 0 21%;
    margin: 1rem;
    padding: 1rem;
}

#footer-section {
    margin-top: 100px;
}

.border {
    margin-top: 10px;
    border-style: dotted;
}